*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin: 10px auto;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

nav div:first-child span{
    font-weight: 600;
}

nav div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

header button{
    border: none;
    background-color: #33569b;
    padding: 10px 8px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

nav div:nth-child(2) > span:first-child, nav div:nth-child(2) > span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav div:nth-child(2) > span:nth-child(2) {
    color: red;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
}

main{
    background-image: url("./Images/homa-page-bg.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 38vw;
}

main section h1{
    text-align: center;
    color: #213D77;
}